/* cosmetic stuff */

html, body { height: 100%; }
body { background-color: #fafafa; font-family: Monospace;}


header { text-align: center; }
footer {
	position: absolute;
    bottom: 0;
    width: 100vw;
    z-index: -1;
    text-align: center;
    font-size: .9em;
}
	footer div {
		position: absolute;
		bottom: 0;
		width: inherit;
		margin-bottom: 1em;
	}
		footer span {
			font-weight: bold;
			text-decoration: underline;
		}

header, footer { background-color: #3d3d3d; color: white; }

button {
	margin: 1em;
    padding: 1em;
    margin: 1.5vh;
    padding: .7vw;
    outline: none;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    font-family: Monospace;
    box-shadow: 4px 3px 2px 0px black;
    background: rgba(78, 78, 78, 0.8);
	color: white;

	/*sometimes canvas may overlap the interface in header, so: */
	position: fixed;
	left: 50%; /* for IE */
	z-index: 1;
	margin-left: -40px; 
}

button:active {	box-shadow: 2px 2px 2px 0px rgba(81, 13, 13, 0.27); }